.rb-flex {
  display: flex;
}

.rb-flex > *:not(:first-child) {
  margin-inline-start: 1rem;
}

.fw-flex > .fieldset__wrapper {
  display: flex;
}

.field-access-settings .button {
  padding-block: 8px !important;
  max-height: 2rem;
}

.rb-flex-ai-center {
  align-items: center;
}

.field-item {
  margin-bottom: .5rem;
}

.field-item .button {
  margin-block: 0;
  margin-inline: .25rem 0;
}

[data-drupal-selector="edit-add-field"] {
  margin-top: 0;
}


[data-drupal-selector="edit-add-field"] .form-type--textfield {
  margin-top: .75rem;
}

#edit-identifier > * {
  margin-top: 0;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.condition-actions {
  inset-inline-end: -.5rem;
  inset-block-start: -.5rem;
}

.restricted-field-list .button {
  background: none;
  border: 1px solid black !important;
  border-radius: 7px;
  padding-block: 4px !important
}

.field-access-settings input {
  padding: .25rem;
  min-height: revert;

}
